
Abacus/Abacus/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
Abacus/Abacus/obj/Debug/Abacus.csproj.CoreCompileInputs.cache
Abacus/Abacus/obj/Debug/Abacus.csproj.FileListAbsolute.txt
Abacus/Abacus/obj/Debug/Abacus.csproj.GenerateResource.cache
Abacus/Abacus/obj/Debug/Abacus.csprojAssemblyReference.cache
Abacus/Abacus/obj/Debug/Abacus.exe
Abacus/Abacus/obj/Debug/Abacus.g.resources
Abacus/Abacus/obj/Debug/Abacus.pdb
Abacus/Abacus/obj/Debug/Abacus.Properties.Resources.resources
Abacus/Abacus/obj/Debug/Abacus_MarkupCompile.cache
Abacus/Abacus/obj/Debug/Abacus_MarkupCompile.i.cache
Abacus/Abacus/obj/Debug/Abacus_MarkupCompile.i.lref
Abacus/Abacus/obj/Debug/Abacus_MarkupCompile.lref
Abacus/Abacus/obj/Debug/App.g.cs
Abacus/Abacus/obj/Debug/App.g.i.cs
Abacus/Abacus/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Abacus/Abacus/obj/Debug/MainWindow.baml
Abacus/Abacus/obj/Debug/MainWindow.g.cs
Abacus/Abacus/obj/Debug/MainWindow.g.i.cs
Abacus/Abacus/bin/Debug/Abacus.exe
Abacus/Abacus/bin/Debug/Abacus.exe.config
Abacus/Abacus/bin/Debug/Abacus.pdb
Abacus/.vs/Abacus/v16/.suo
